<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <title>Document</title>
</head>
<body>
  <div class="container">
    {% if user.is_authenticated %}
    <h1>{{user.username}}님, 반갑습니다.</h1>

    <div>
        <form action=" {% url 'accounts:logout' %} " method="POST">
            {% csrf_token %}
            <input type="submit" value="LOGOUT">
        </form>
      </div>
      <div>
        <form action=" {% url 'accounts:delete' %} " method="POST">
          {% csrf_token %}
          <input type="submit" value="회원탈퇴">
        </form>
        <a href="accounts:update">회원정보수정</a>
      </div>
      
    <hr>

{% else %}
    <div>
        <a href=" {% url 'accounts:login' %} ">LOGIN</a>
        <a href=" {% url 'accounts:signup' %} ">회원가입</a>
        <hr>
    </div>

{% endif %}


    {% block content %}
    {% endblock content %}
  </div>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
</body>
</html>
